.messages-list {
    padding: 20px 0;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;
    flex-grow: 1;
    overflow: auto;
}

.messages-message {
    display: flex;
    margin-top: 10px;
}

.messages-message.current-member {
    /*justify-content: flex-end;*/
    flex-direction: row-reverse;
    text-align: right;
}

.message-content {
    display: inline-block;
}

.current-member>.message-content {
    align-items: flex-end;
}

.messages-message>.avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px -10px;
}

.message-content>.username {
    display: block;
    color: gray;
    font-size: 14px;
    padding-bottom: 4px;
}

.message-content>.text {
    padding: 10px;
    max-width: 400px;
    margin: 0;
    border-radius: 12px;
    background-color: cornflowerblue;
    color: white;
    display: inline-block;
}

.current-member>.message-content .text {
    background-color: orangered;
}
